<!DOCTYPE html>
<html>
<head>
    <title id="titlePage">BooksReviews - Aggiungi Recensione</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%- include('inc/libraries'); %>
</head>

<body>
  <%- include('inc/navbar'); %>
    <div class="container">

    <div class="row">

        <div class="col-sm-12">

            <br><br><br><br><br>
            <h1 id="tit"></h1>
            <h3 id="other"></h3>
            <br><br>

        </div>

        <div class="col-lg-6 offset-lg-3 offset-md-2 col-md-8 col-sm-12">

            <hr>

            <form method="post" id="recForm">
                <h3 id="modify"></h3> <br>
                <h3>Voto:</h3>

                <div class="fieldset">

                    <div class="btn-group btn-group-toggle my-2" data-toggle="buttons" id="rat">
                        <label class="btn btn-primary" id="lab1">
                            <input type="radio" name="voto" id="voto1" value="1" onclick="setFocus(1)"> 1
                        </label>
                        <label class="btn btn-primary" id="lab2">
                            <input type="radio" name="voto" id="voto2" value="2" onclick="setFocus(2)"> 2
                        </label>
                        <label class="btn btn-primary" id="lab3">
                            <input type="radio" name="voto" id="voto3" value="3" onclick="setFocus(3)"> 3
                        </label>
                        <label class="btn btn-primary" id="lab4">
                            <input type="radio" name="voto" id="voto4" value="4" onclick="setFocus(4)"> 4
                        </label>
                        <label class="btn btn-primary" id="lab5">
                            <input type="radio" name="voto" id="voto5" value="5" onclick="setFocus(5)"> 5
                        </label>

                    </div>
                    <div class="invalid-feedback" id="ratError">Campo obbligatorio!</div>

                    <div class="form-group has-danger">
                        <label for="recensione" class="form-control-label">Recensione</label>
                        <textarea class="form-control" name="recensione" id="recensione" rows="10" ></textarea>
                        <div class="invalid-feedback" id="recensioneError">Campo obbligatorio!</div>
                    </div>

                    <div class="form-group">
                        <button id="btn-end" class="btn btn-success" type="button" onclick="formValidation()"> Aggiungi </button>
                        <a id="annulla" class="btn btn-danger">Annulla</a>
                    </div>

                </div>

            </form>

        </div>

    </div>

</div>
<script src="script-aggiungiRecensione.js"></script>
</body>

</html>
