<!DOCTYPE HTML>
<html>
<head>
    <title>ERROR 404</title>
    <link rel="stylesheet" href="https://bootswatch.com/_vendor/bootstrap/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!--  <style>
      .container {
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0);
      }
    </style>-->
</head>
<body>
    <%- include('inc/navbar'); %>
    <br><br><br><br><br>
    <div class="container">
      <div style="margin-left:auto; margin-right:auto; width:50%; display:block; text-align: center;">
      <img src="img/404.svg">
      <h2 style=" color: rgb(200,0,0)">PAGE NOT FOUND</H2>
    </div>
</body>
</html>
