<!DOCTYPE html>
<html>

    <head>
        <title>BooksReviews - Libri</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/stars.css">
        <%- include('inc/libraries'); %>
    </head>

    <body>

        <%- include('inc/navbar'); %>

        <div class="container">

            <br><br><br><br><br><br>

            <div class="row">

                <input class="ask" type="text" placeholder="Cerca" id="searchBar" onkeyup="filterBooks('title','')">
                <button onclick="funFilter()" class="btn btn-success center">Filter</button>
                <div id="myBtnContainer" class="dropbar">
                    <button class="dropbtn btn btn-success" onclick="dropDownFun(1)"> Genre</button>
                  <div id="myDropdown1" class="dropdown-content">
                    <a class="abc" href="#" onclick="filterBooks('genre','HORROR')" >HORROR</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','FANTASCIENZA')">FANTASCIENZA</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','DOCUMENTARIO')">DOCUMENTARIO</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','AZIONE')">AZIONE</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','BIOGRAFICO')">BIOGRAFICO</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','COMICO')">COMICO</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','COMMEDIA')">COMMEDIA</a>
                    <a class="abc" href="#" onclick="filterBooks('genre','THRILLER')">THRILLER</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(3)"> Author</button>
                  <div id="myDropdown3" class="dropdown-content">
                    <input class="insertText" type="text" placeholder="Cerca Autore" id="searchBarAuthor" style="width:500px">
                    <a class="btn btn-success search" onclick="filterBooks('author','')"> Cerca</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(2)"> years</button>
                  <div id="myDropdown2" class="dropdown-content">
                    <input type="number" class="insertText" placeholder="Da" id="fromYear">
                    <input type="number" class="insertText" placeholder="A" id="toYear">
                    <a class="btn btn-success search center" onclick="filterBooksForYears()"> Cerca</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(4)" id="rating"> Rating</button>
                  <div id="myDropdown4" class="dropdown-content">
                    <a class="abc" href="#" onclick="filterBooks('from_rating','1')">1 star</a>
                    <a class="abc" href="#" onclick="filterBooks('from_rating','2')">2 stars</a>
                    <a class="abc" href="#" onclick="filterBooks('from_rating','3')">3 stars</a>
                    <a class="abc" href="#" onclick="filterBooks('from_rating','4')">4 stars</a>
                    <a class="abc" href="#" onclick="filterBooks('from_rating','5')">5 stars</a>
                  </div>
                </div>

            </div>

            <br><br>

            <a class="badge badge-pill badge-danger" id="badge-title">
                <span id="badgeText-title"></span> <i onclick="removeFilter('title')" class="fas fa-times-circle"></i></a>

            <a class="badge badge-pill badge-danger" id="badge-genre">
                <span id="badgeText-genre"></span> <i onclick="removeFilter('genre')" class="fas fa-times-circle"></i></a>

            <a class="badge badge-pill badge-danger" id="badge-author">
                <span id="badgeText-author"></span> <i onclick="removeFilter('author')" class="fas fa-times-circle"></i></a>

            <a class="badge badge-pill badge-danger" id="badge-from_year">
                <span id="badgeText-from_year"></span> <i onclick="removeFilter('from_year')" class="fas fa-times-circle"></i></a>

            <a class="badge badge-pill badge-danger" id="badge-from_rating">
                <span id="badgeText-from_rating"></span> <i onclick="removeFilter('from_rating')" class="fas fa-times-circle"></i></a>


            <br><br>

            <div class="row">
                <div class="col-sm-12">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="myCell"><button class="btn btn-link">ISBN</button> <i id="span0"></i></th>
                                    <th class="myCell"><button class="btn btn-link">Titolo</button> <i id="span1"></i></th>
                                    <th class="myCell"><button class="btn btn-link">Autore</button> <i id="span2"></i></th>
                                    <th class="myCell"><button class="btn btn-link">Genere</button> <i id="span3"></i></th>
                                    <th class="myCell"><button class="btn btn-link">Anno</button> <i id="span4"></i></th>
                                    <th class="myCell"><button class="btn btn-link">Rating</button> <i id="span5"></i></th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">

                        <div class="center fixed-bottom">
                            <ul class="pagination pagination-lg" id="pagination" hidden>

                            </ul>
                        </div>

                        <br>

                        <a id="addBook" href="aggiungiLibro" class="btn btn-success center">Aggiungi libro</a>

                    </div>

                    <br><br><br><br><br>

                </div>
            </div>

        </div>
        <script src="script.js"></script>
    </body>
</html>
