<!DOCTYPE html>
<html>

    <head>
        <title>BooksReviews - Libri</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/stars.css">
        <%- include('inc/libraries'); %>
    </head>

    <body>

        <%- include('inc/navbar'); %>

        <div class="container">

            <br><br><br><br><br><br>

            <div class="row">

                <input class="ask" type="text" placeholder="Cerca" id="searchBar" onkeyup="filterBooks('title','')">
                <button onclick="funFilter()" class="btn btn-success center">Filter</button>
                <div id="myBtnContainer" class="dropbar">
                    <button class="dropbtn btn btn-success" onclick="dropDownFun(1)"> Genre</button>
                  <div id="myDropdown1" class="dropdown-content">
                    <a class="click" onclick="filterBooks('genre','Horror')">Horror</a>
                    <a class="click" onclick="filterBooks('genre','Fantascienza')">Fantascienza</a>
                    <a class="click" onclick="filterBooks('genre','Documentario')">Documentario</a>
                    <a class="click" onclick="filterBooks('genre','Azione')">Azione</a>
                    <a class="click" onclick="filterBooks('genre','Biografico')">Biografico</a>
                    <a class="click" onclick="filterBooks('genre','Comico')">Comico</a>
                    <a class="click" onclick="filterBooks('genre','Commedia')">Commedia</a>
                    <a class="click" onclick="filterBooks('genre','Thriller')">Thriller</a>
                    <a class="click" onclick="filterBooks('genre','Storico')">Storico</a>
                    <a class="click" onclick="filterBooks('genre','Avventura')">Avventura</a>
                    <a class="click" onclick="filterBooks('genre','Per Ragazzi')">Per Ragazzi</a>
                    <a class="click" onclick="filterBooks('genre','Giallo')">Giallo</a>
                    <a class="click" onclick="filterBooks('genre','Psicologico')">Psicologico</a>
                    <a class="click" onclick="filterBooks('genre','Umoristico')">Umoristico</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(3)"> Author</button>
                  <div id="myDropdown3" class="dropdown-content">
                    <input class="insertText" type="text" placeholder="Cerca Autore" id="searchBarAuthor" style="width:500px">
                    <a class="btn btn-success search" onclick="filterBooks('author','')"> Cerca</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(2)"> years</button>
                  <div id="myDropdown2" class="dropdown-content">
                    <input type="number" class="insertText" placeholder="Da" id="fromYear">
                    <input type="number" class="insertText" placeholder="A" id="toYear">
                    <a class="btn btn-success search center" onclick="filterBooksForYears()"> Cerca</a>
                  </div>
                  <button class="dropbtn btn btn-success" onclick="dropDownFun(4)" id="rating"> Rating</button>
                  <div id="myDropdown4" class="dropdown-content">
                    <a class="click" onclick="filterBooks('from_rating','1')">1 star</a>
                    <a class="click" onclick="filterBooks('from_rating','2')">2 stars</a>
                    <a class="click" onclick="filterBooks('from_rating','3')">3 stars</a>
                    <a class="click" onclick="filterBooks('from_rating','4')">4 stars</a>
                    <a class="click" onclick="filterBooks('from_rating','5')">5 stars</a>
                  </div>
                </div>

            </div>

            <br><br>
            <div style="width:100%; height:45px; float:right;">
              <a class="badge badge-pill badge-danger" id="badge-title">
                  <span id="badgeText-title"></span> <i onclick="removeFilter('title')" class="fas fa-times-circle"></i></a>

              <a class="badge badge-pill badge-danger" id="badge-genre">
                  <span id="badgeText-genre"></span> <i onclick="removeFilter('genre')" class="fas fa-times-circle"></i></a>

              <a class="badge badge-pill badge-danger" id="badge-author">
                  <span id="badgeText-author"></span> <i onclick="removeFilter('author')" class="fas fa-times-circle"></i></a>

              <a class="badge badge-pill badge-danger" id="badge-from_year">
                  <span id="badgeText-from_year"></span> <i onclick="removeFilter('from_year')" class="fas fa-times-circle"></i></a>

              <a class="badge badge-pill badge-danger" id="badge-from_rating">
                  <span id="badgeText-from_rating"></span> <i onclick="removeFilter('from_rating')" class="fas fa-times-circle"></i></a>

              <a id="addBook" href="aggiungiLibro" class="btn btn-success" style="float: right;">Aggiungi libro</a>
          </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="myCell tit">ISBN</th>
                                    <th class="myCell tit">Titolo</th>
                                    <th class="myCell tit">Autore</th>
                                    <th class="myCell tit">Genere</th>
                                    <th class="myCell tit">Anno</th>
                                    <th class="myCell tit">Rating</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>
                        </table>
                    </div>

                    <br><br><br><br><br>

                </div>
            </div>

        </div>
        <script src="js/script.js"></script>
    </body>
</html>
